[user]
    name = slaveng22
    email = 117160808+slaveng22@users.noreply.github.com
    signingkey = ~/.ssh/id_rsa_github

[core]
    sshCommand = ssh -i ~/.ssh/id_rsa_github

[push]
    default = current

[pull]
    rebase = true

[commit]
    gpgSign = true
    gpg.format = ssh

[tag]
    forceSignAnnotated = true

[init]
    defaultBranch = main

[url "git@github.com:"]
    insteadOf = https://github.com/
